html, body {
    height: 100%
}

.ajax_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: white;
	opacity: 0.75;
	filter: alpha(opacity =             75); /* for internet explorer */
	opacity: 0.75; /* CSS3 standard */
	-moz-opacity: 0.75; /* for older gecko browsers */
	-khtml-opacity: 0.75; /* for older webkit browsers */
}

.main_table  {
	width:100%;
	height:600px
	border: 1px solid #CCCCCC;
	padding: 8px;
}

.main_table td {
	border-left: 1px solid #CCCCCC;
	vertical-align: top;
	
}

.tidy_table {
	width:100%;
}
.tidy_table td {
	max-width:500px;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;	
	
}