<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>24x7MonitoringWeb</display-name>

	<servlet>
		<servlet-name>24x7MonitoringWeb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>24x7MonitoringWeb</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	
	<!-- Set session timeout in minutes -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/Notfound.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/unknownError.jsp</location>
	</error-page>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Location of the Log4J config file, for initialization and refresh checks. 
		Applied by Log4jConfigListener. -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	 		/WEB-INF/config/webmvc-config.xml
	 	  <!--  classpath*:com/ombillah/ecom4j/monitoring/service/applicationContext-service.xml 
	 		    /WEB-INF/config/security-config.xml -->
 		</param-value>
	</context-param>

</web-app>